include LICENSE
include README.md
recursive-include authentication/static *
recursive-include authentication/templates *
recursive-include docs *
global-exclude *.py[cod]
recursive-exclude myshop *
recursive-exclude store *
exclude db.sqlite3
exclude manage.py
recursive-exclude templates *
recursive-exclude static *