#siteheader {
    .navbar {
        .container-fluid {
            .collapse {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: white;
                            text-decoration: none;
                            &:hover {
                                color: white;
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}