.btn {
    &-dark-outline {
        color: $dark;
        background-color: $light;
        border-color: $light;
        &:hover {
            color: $light;
            background-color: $dark;
            border-color: $light;

        }
    }
}